total customers: <%= Subscriber.where(:active=>true).count %>

<h4>Active Subscribers</h4>

<%= form_for :search, :url => { :controller=>'admin/subscribers', :action => 'index' }, html: {class: 'form form-horizontal', style:'margin:0px;left:0px;' }, :method => :get do |f|%>
<div class="well" style="width: 100%">  
	<table align="center" class="quick_search_table" >
		<tr> 
 			<td style="width: 145px;padding-left: 5px"> Joined From: </td>
			<td style="width: 140px"> <%= f.text_field :start_date, :value => "#{params[:search][:start_date] rescue ''}", :class => "datepicker",:readonly=>true %> </td>
			<td style="width: 55px;padding-left: 5px"> To: </td>
			<td style="width: 140px"> <%= f.text_field :end_date, :value => "#{params[:search][:end_date] rescue ''}", :class => "datepicker",:readonly=>true %> </td>		
			<td style=";padding-left: 50px"> <%= f.submit "Search", :class=>"btn btn-primary", "data-disable-with"=>"Wait..." %> </td>		
			
			<td> 
				<a href="#" onclick="onClickDownloadContactss()" class="btn btn-primary">Download as CSV</a> 
			</td>		
			
		</tr>
	</table>
</div>
<%end%>  


<%if @subscribers.empty?%> 
	<h4>No active subscribers</h4> 
<%else%>
	<table class="table table-bordered">
		<thead>
			<th>Email</th>
			<th>Registered On</th>
			<th>Delete</th>
		</thead>
		<tbody>
			<% @subscribers.each do |s| %>
				<tr>
					<td><%= s.email %> </td>
					<td>
						<%= s.created_at.strftime("%m/%d/%Y") %>
					</td>
					<td><%= link_to 'Delete', admin_subscriber_path(s), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
<%end%>

<script type="text/javascript"> 
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'mm/dd/yyyy',"autoclose" : true});
  });
  
function onClickDownloadContactss()
{ 
	document.location.href = "/admin/subscribers/download_contacts_csv?from_date="+$("#search_start_date").val()+"&to_date="+$("#search_end_date").val()
}

</script>
