<% if @agent %>
<h4> Agent Name: <%= @agent.name%></h4>
<%end%>
 
<br />
<br />

<table border="1" bordercolor="#ccc">
	<tr>
		<th>Date</th>
		<th>Customer</th>
		<th>Order Type</th>
		<th>Products</th> 
		<th>Product Price</th>
		<th>Shipping/Handling Fee</th>
		<th>Total Price</th>
	</tr>
	<% @orders.each do |order| %> 
		<tr>
			<td style="padding:5px"> <%= order.created_at.strftime("%d/%m/%Y at %H:%M") %> </td>
			<td style="padding:5px"> <%= order.try(:orderer).try(:name) %> </td>
			<% if order.try(:order_type) == "recurrent" %>
				<td> Recurrent</td>
			<% else %>
				<td> One Time</td>
			<%end%>
			<td> <%= get_product_names(order)%></td>
			<td>$<%= number_with_precision(order.total, :precision => 2) %></td> 
			<td>$<%= number_with_precision((order.shipping_price+order.process_handling_price), :precision => 2) %></td> 
			<td>$<%= number_with_precision((order.total+order.shipping_price+order.process_handling_price), :precision => 2) %></td>  
		</tr>	 
	<%end%>
</table>


