<h3>Orders of <%= @agent.name %></h3>

<% if @orders.size > 0 %>
	<%= link_to "Download Orders", get_orders_xls_admin_agents_url(:agent_id=>@agent.id) %>
<%end%>

<table class="table table-striped table-bordered table-hover table-condensed grid-table">
  <thead>
    <tr> 
      <th>Created Date</th>
      <th>Customer</th>  
      <th>details</th> 
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr> 
        <td><%= order.created_at.strftime("%d/%m/%Y at %H:%M") %></td>
        <td><%= link_to("#{order.try(:orderer).try(:first_name)} #{order.try(:orderer).try(:last_name)}", admin_customer_path(order.try(:orderer))) %></td>  
        <td>
        	<%= link_to icon_text('Detail', 'glyphicon glyphicon-info-sign'), admin_order_path(order), class: 'btn btn-sm btn-success' %>
        </td>   
      </tr>
    <% end %>
  </tbody>
</table> 
<br>   