<h3>Agents</h3>

<%= link_to "Download All Agent Orders", get_orders_xls_admin_agents_url(:agent_id=>"all") %>

<table class="table table-striped table-bordered table-hover table-condensed grid-table">
  <thead>
    <tr> 
      <th>Name</th>
      <th>Email</th> 
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr> 
        <td><%= agent.name %></td>
        <td><%= agent.email %></td>  
         <td><%= link_to 'orders', get_orders_admin_agents_url(:id=>agent.id) %></td>
        <td><%= link_to 'Edit', edit_admin_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', admin_agent_path(agent), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<br> 
<%= link_to 'New Agent', new_admin_agent_path, :class=>"btn btn-primary" %>
<br />
<div class="pagination-center">
	<%= will_paginate @agents  %>
</div>