<br />
<h2 style="text-align: center;color: #fff">Hair Illusion – Wholesaler Request Complete</h2>
<br />
<div class="row" style="text-align: center;color: #fff">
  <div class="col-md-12">
    <h4 class='title-text'>Thank you for your interest in Hair Illusion</h4>
    <p>We will be in touch soon</p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
