$('#order-subtotal-price').text(<%= @subtotal %>)
$('#order-shipping-price').text(<%= @shipping %>)
$('#order-total-price').text(<%= @total_price%>)

$('#totalPrice').val(<%= @total_price %>) 
$('#order-total-price').text(<%= @total_price %>)

$("#shipment_selected").val("false");  
$("#shippingPrefDiv").text("");  
