total customers: <%= Customer.where(:amazon_customer=>false).count %>


<table class="table table-striped table-bordered table-hover table-condensed grid-table" data-url="<%= admin_customers_path %>">
  <thead>
    <tr>
      <th data-field="created_at" data-sort="true" data-default-sort="asc">Created</th>
      <th data-field="first_name" data-sort="true">First Name</th>
      <th data-field="last_name" data-sort="true">Last Name</th>
      <th data-field="email" data-sort="true">Email</th>
      <th data-field="city" data-sort="true">City</th>
      <th data-field="state" data-sort="true">State/Region/Province</th>
      <th></th>
    </tr>
    <tr class="filters">
      <th class="filter">
        <%= text_field_tag :filter_created_at, nil, 'data-field' => 'created_at', class: 'row-filter' %>
      </th>
      <th class="filter">
        <%= text_field_tag :filter_first_name, nil, 'data-field' => 'first_name', class: 'row-filter', size: 10 %>
      </th>
      <th class="filter">
        <%= text_field_tag :filter_last_name, nil, 'data-field' => 'last_name', class: 'row-filter', size: 10 %>
      </th>
      <th class="filter">
        <%= text_field_tag :filter_email, nil, 'data-field' => 'email', class: 'row-filter' %>
      </th>
      <th class="filter">
        <%= text_field_tag :filter_city, nil, 'data-field' => 'city', class: 'row-filter', size: 10 %>
      </th>
      <th class="filter">
        <%= text_field_tag :filter_state, nil, 'data-field' => 'state', class: 'row-filter', size: 4 %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <th colspan="7">
        <%= render 'admin/shared/grid_pager' %>
      </th>
    </tr>
  </tfoot>
</table>
