<% if @orders && @orders.size > 0 %>
	<table class="table table-bordered">
		<tbody>
		<tr>
			<th>Order Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Created At</th>
			<th>Last Delivered</th>
			<th>Cancel</th>
		</tr>
		<% @orders.each do |o| %> 
				<tr id="order_row_<%= o[:order_id] %>">
					<td><%= o[:order_id] %></td>
					<td><%= o[:first_name] %></td>
					<td><%= o[:last_name] %></td>
					<td><%= o[:email_id] %></td>
					<td><%= o[:created_at].strftime("%d/%m/%Y") %></td>
					<td>
						<% if o[:last_date] %>
							<%= o[:last_date].strftime("%d/%m/%Y")%>
						<%end%>
					</td>	
					<td>
						<%= link_to "Cancel Order", cancel_order2_admin_orders_path(:order_id=>o[:order_id]), :remote=>true, :data => { :confirm => "Are you sure want to cancel this order?" }, class: 'btn btn-sm btn-danger', "data-disable-with"=>"Updating..." %>		
					</td> 
				</tr> 
		<%end%>
		</tbody>
	</table>
<%end %>
