<% if @orders.empty? %>
Sorry, no orders found, Please search changing the filter values..
<%else%>
<table class="table table-striped table-bordered table-hover table-condensed grid-table">
	<th> Customer Name </th>
	<th> Agent/Domain </th>
	<th> Status </th>
	<th> Started </th>
	<th> Last delivery </th>
	<th> Next Delivery </th>
	<th> Change Date </th>
	<th> Details </th> 
 
	<% @orders.each do |order| %> 
	<tr>
		<td>  
			<% if order.orderer %>
				<%= order.orderer.name %>
			<%end%> 
		</td> 
		<td> 
			<% if order.agent_id.nil? %>
				<%= order.host %>
			<% else%>
				<%= order.agent_id %>
			<%end%> 
		</td>
		<td> <% if order.cancelled %>
		Cancelled
		<% else%>
		Active
		<%end%> </td>
		<td> <% if order.first_delivery_date %>
		<%= order.first_delivery_date.strftime("%d/%m/%Y") %>
		<%end%> </td>
		<td> <% if order.last_delivery_date %>
		<%= order.last_delivery_date.strftime("%d/%m/%Y") %>
		<%end%> </td>
		<td> <% if order.next_delivery_date %>
		<%= order.next_delivery_date.strftime("%d/%m/%Y") %>
		<%end%> </td>
		<td> 
		<%= link_to "Change Delivery Date", change_date_admin_orders_path(:id=>order.id) %>
		</td>
		<td> <%= link_to("Details", admin_order_path(order)) %> </td>
	</tr>
	<%end%>
</table>
<%end%>
