<% if @orders && @orders.size > 0 %>
	<table class="table table-bordered">
		<tbody>
		<tr>
			<th>Order Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Created At</th>
			<th>Charged Price</th>
			<th>Refund</th>
		</tr>
		<% @orders.each do |o| %> 
				<tr id="order_row_<%= o[:order_id] %>">
					<td><%= o[:order_id] %></td>
					<td><%= o[:first_name] %></td>
					<td><%= o[:last_name] %></td>
					<td><%= o[:email_id] %></td>
					<td><%= o[:created_at].strftime("%d/%m/%Y") %></td>
					<td><%= get_price(o[:order_id].to_i)%></td> 
					<td>
						<% if o[:refunded_at].blank? %>
							<%= link_to "Refund It", refund_admin_orders_path(:id=>o[:order_id],:shopify_id=>o[:shopify_order_id]), :remote=>true, :data => { :confirm => "Are you sure want to refund?. Its irreversible." }, :remote=>true, class: 'btn btn-sm btn-danger', "data-disable-with"=>"Updating..." %>
						<%else%>
							Refunded
						<%end%>		
					</td> 
				</tr> 
		<%end%>
		</tbody>
	</table>
<%end %>
