<tr>
  <td><%= order.created_at %></td>
  <td><%= order.id %></td>
  <td>
    <% if order.orderer_type == "Customer" %>
      <%= link_to("#{order.try(:orderer).try(:first_name)} #{order.try(:orderer).try(:last_name)}", admin_customer_path(order.try(:orderer))) %>
    <% elsif order.orderer_type == "Distributor" %>
      <%= link_to(order.orderer.company_name, admin_distributor_path(order.try(:orderer))) %>
    <% end %>
  </td>
  <td> 
  		<%= order.order_source %>  
  </td>
  <td>
    <% if order.shipment.present? %>
      <%= link_to(order.shipment.created_at, admin_shipment_path(order.try(:shipment))) %>
    <%elsif order.amazon_order_id.present?%>
    	<%= order.order_status %>
    <% end %>
  </td>
  <td>
    <%= link_to icon_text('Detail', 'glyphicon glyphicon-info-sign'), admin_order_path(order), class: 'btn btn-sm btn-success' %>
    <%= link_to icon_text('Edit', 'glyphicon glyphicon-pencil'), edit_admin_order_path(order), class: 'btn btn-sm btn-primary' %>
  </td>
</tr>
