<%= form_for :search, :url => { :controller=>'admin/orders', :action => 'get_orders' }, html: {class: 'form form-horizontal', style:'margin:0px;left:0px;' }, :remote=>true, :method => :get do |f|%>
<div class="well" style="width: 100%">  
 
	<table align="center" class="quick_search_table" >
		<tr> 
 			<td style="width: 120px"> First Name: </td>
			<td style="padding-right:20px"> <%= f.text_field :first_name, :value => get_first_name_value, :style=>"width:160px" %> </td>
			<td class="report_td"> Or </td>
			<td style="width: 120px"> Last Name: </td>
			<td style="padding-right:20px"> <%= f.text_field :last_name, :value => get_last_name_value, :style=>"width:160px" %> </td>
			
 			<td class="report_td"> Or </td>
		 	<td > Email: </td>
			<td style="padding-right:20px"> <%= f.email_field :email, :value => get_email_value, :style=>"width:200px" %> </td>					 
			<td style="padding-left: 20px"> 
				<%= f.submit "Get orders", :class=>"btn btn-primary btn-sm", "data-disable-with"=>"Wait..." %> 
 			</td>
		 
		</tr>
	</table>
</div>
<%end%>  

<div id="customerOrderList">
	<%=render "customer_orders_list" %>
</div> 
 