<div class="row">
	<div class="col-md-6 well">
		<p>
			<strong>Order #:</strong>
			<%= @order.id %>
		<p>

		<p>
			<strong>Ordered By:</strong>
			<% if @order.orderer_type == Customer.name %>
			<%= link_to("#{@order.orderer.first_name} #{@order.orderer.last_name} (Customer)", admin_customer_path(@order.orderer)) %>
			<% elsif @order.orderer_type == Distributor.name %>
			<%= link_to("#{@order.orderer.company_name} (Distributor)", admin_distributor_path(@order.orderer)) %>
			<% end %>
		<p>

		<p>
			<strong>Ordered At:</strong>
			<%= @order.created_at %>
		<p>

			<% if @order.shipment.present? %>
		<p>
			<strong>Shipped At:</strong>
			<%= link_to(@order.shipment.created_at, admin_shipment_path(@order.shipment)) %>
		</p>
		<% end %>

		<p>
			<% if @order.refunded_at %>
			<strong>Refunded At:</strong>
			<%= @order.refunded_at %>
			<% else %>
			<%# link_to('Refund Order', refund_admin_order_path(@order), method: :put, class: 'btn btn-sm btn-success') %>
			<% end %>
		<p>

		<p>
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>Product</th>
					<th>Product Code</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbdoy>
					<% @order.order_items.each do |order_item| %>
					<tr>
						<td><%= order_item.product_name %></td>
						<td><%= order_item.product_code %></td>
						<td><%= order_item.quantity %></td>
						<td><%= number_to_currency(order_item.price / 100.0) %></td>
						<td><%= number_to_currency(order_item.total / 100.0) %></td>
					</tr>
					<% end %>
					<% if @order.shipping_price.to_f>0 %>
						<tr>
							<td colspan="4"> Shipping Price:</td> 
							<td><%= number_to_currency(@order.shipping_price) %></td>
						</tr>
					<% end %>
					<% if @order.process_handling_price.to_f>0 %>
						<tr>
							<td colspan="4"> S&H Price:</td> 
							<td><%= number_to_currency(@order.process_handling_price) %></td>
						</tr> 
					<% end %>
				</tbdoy>
			</table>
		</p>

		<p>

			<% if @order.cancelled.blank?%>
			<%= link_to icon_text('Edit', 'glyphicon glyphicon-pencil'), edit_admin_order_path(@order), class: 'btn btn-sm btn-primary' %>
			<%= link_to "Back", request.referrer, class: 'btn btn-sm btn-info' %>
			
				<% if @order.parent_order_id.blank? && @order.order_type == "recurrent" %>
					<%= link_to "Cancel Order", cancel_order_admin_orders_path(:order_id=>@order.id), :remote=>true, :data => { :confirm => "Are you sure want to cancel this order?" }, class: 'btn btn-sm btn-danger pull-right' %>
				<%end%>
			<%else%>
			This order was cancelled at <%= @order.cancelled_at%>
			<%end%>
		</p>

	</div> 
</div>
 

<div id="checkoutForm" class="row">
  <div class="col-md-6">
    <h2>Delivery Date Change</h2>

    <%= form_for @order, url: update_date_admin_orders_path, html: { class: 'form-horizontal' }, method: :get, remote: true do |f| %> 
          
          <%= control_group(@order, :last_delivery_date, label: 'Last Delivery Date') do %> 
            <%= @order.last_delivery_date %> 
          <% end %> 
          <%= control_group(@order, :next_delivery_date, label: 'Next Delivery Date') do %> 
            <%= f.text_field :next_delivery_date, :value => get_next_delivery_date(@order), :style=>"width:120px" , class: 'form-control required', :required=>true%>
          <% end %> 

      <div class="form-group">
        <div style="text-align:center;" class="col-md-12">
        	<% unless @order.cancelled.blank?%>
        		This order was cancelled at <%= @order.cancelled_at.to_date %>, So you cant update next delivery date.
        	<%else%>
        		<%= hidden_field_tag :return_url, @return_url %>
        		<%= hidden_field_tag :order_id, @order.id %>
          		<%= f.submit 'Update Delivery Date', class: 'btn btn-primary' %>
          	<%end%>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div id="checkoutForm" class="row">
  <div class="col-md-6">
    <h2>Recurrent Price</h2>

    <%= form_for @order, url: update_customer_price_admin_orders_path, html: { class: 'form-horizontal' }, method: :get, remote: true do |f| %> 
    	<%= hidden_field_tag :customer_id, @order.orderer.id %>
          <label>Current Price:</label>
          <% if @order.orderer.price.to_f > 0.0 %>
          <%= text_field_tag :price, @order.orderer.price %>
          <%else%>
	          <%= text_field_tag :price, 29.95 %>
          <% end %>  
          <%= f.submit 'Update Price', class: 'btn btn-primary' %> 
    <% end %>
  </div>
</div>



<div id="checkoutForm" class="row">
  <div class="col-md-6">
    <h2>Supply schedule</h2>

    <%= form_for @order, url: update_days_gap_admin_orders_path, html: { class: 'form-horizontal' }, method: :get, remote: true do |f| %> 
           

      <div class="form-group">
        <div style="text-align:center;font-weight: bold" class="col-md-12">
        	<% unless @order.cancelled.blank?%>
        		This order was cancelled at <%= @order.cancelled_at.to_date %>, So you cant update next delivery date.
        	<%else%>
        		Current schedule is for every  <%= @order.gap_days %> days.
        		<br />
        		<br />
        		Schedule: <%= f.select "gap_days", options_for_select([['Every week', 7 ],['Every 2 weeks', 15 ],['Every month', 30 ],['Every 2 months', 60 ]],@order.gap_days), :class=>"form-control" %>
 
        		<%= hidden_field_tag :order_id, @order.id %>
          		<%= f.submit 'Update Schedule', class: 'btn btn-primary' %>
          		<br />
          		<br />
          		<br />
          	<%end%>
        </div>
      </div>
    <% end %>
  </div> 
</div>

<br />
<h4>Montly order details</h4>
	<% if @order.order_type == "recurrent" %>
		<% child_orders = Order.where("version_2_order = true and parent_order_id=?", @order.id)%> 
		<%if child_orders.size > 0 %>  
			<table class="table table-striped table-bordered table-hover table-condensed grid-table"> 
				<th> Delivered Date</th>
				<th> Status</th>
				<th> Details </th> 
				<% child_orders.each do |o| %>
					<tr> 
						<td> <% if o.last_delivery_date %>
						<%= o.last_delivery_date.strftime("%d/%m/%Y") %>
						<%end%> </td>
						 <td> 
						 	<% if o.cancelled %>
								Cancelled
							<% else%>
								Active
							<%end%> 
						</td>
						<td> <%= link_to("Details", admin_order_path(o)) %> </td>
					</tr> 
				<%end%>
			</table> 
		<%end%>
	<%end%>

<script type="text/javascript"> 
  $(document).ready(function(){ 
    $('#order_next_delivery_date').datepicker({format: 'dd/mm/yyyy',"autoclose" : true});
  });
  </script>
