<%= form_for :search, :url => { :controller=>'admin/orders', :action => 'filter_orders' }, html: {class: 'form form-horizontal', style:'margin:0px;left:0px;' }, :method => :get do |f|%>
<div class="well" style="width: 100%">  
	<b>
	Total Active Orders: <%= @total_active_orders %>
	</b>
	<br />
	<table align="center" class="quick_search_table" >
		<tr> 
 			<td class="report_td"> First Name: </td>
			<td style="width: 120px;padding-right:20px"> <%= f.text_field :first_name, :value => get_first_name_value, :style=>"width:150px" %> </td>
			<td class="report_td"> Or </td>
 			<td class="report_td"> Last Name: </td>
			<td style="width: 100px;padding-right:20px"> <%= f.text_field :last_name, :value => get_last_name_value, :style=>"width:150px" %> </td>
			<td class="report_td"> Or </td>
			<td class="report_td"> Email: </td>
			<td style="width: 100px;padding-right:20px"> <%= f.email_field :email, :value => get_email_value, :style=>"width:200px" %> </td>		
			<td class="report_td"> Status: </td>
			<td style="width: 100%;padding-left: 20px"> 
				<%= f.submit "Search", :class=>"btn btn-primary btn-sm", "data-disable-with"=>"Wait..." %> 
			</td style="width: 100%;padding-left: 50px">
		</tr>
	</table>
</div>
<%end%>  

<div id="ordersList">
	<%=render "orders_list" %>
</div> 

<script type="text/javascript"> 

  function onDowloadReport()
  {  
	params = "start_date="+$("#search_start_date").val()+"&end_date="+$("#search_end_date").val()+"&distributor_id="+$("#domain_distributor_id").val();		
	window.location.href = '<%=download_report_admin_domain_distributors_path%>'+"?"+params; 
  }
</script>