<div class="row">
	<div class="col-md-6 well">
		<p>
			<strong>Order #:</strong>
			<%= @order.id %>
		<p>
			
		<h5>Fullfill by: <% if @order.ship_from_shipwire == true%> Shipwire <%else%> Amazon <%end%> 
			 <% unless @order.ship_from_shipwire == true%>
			 	<br />
			 	Tracking no: <%=@order.tracking_number %>
			 <%end%>
		</h5>
		<p>
			<strong>Ordered By:</strong>
			<% if @order.orderer_type == Customer.name %>
			<%= link_to("#{@order.orderer.first_name} #{@order.orderer.last_name} (Customer)", admin_customer_path(@order.orderer)) %>
			<% elsif @order.orderer_type == Distributor.name %>
			<%= link_to("#{@order.orderer.company_name} (Distributor)", admin_distributor_path(@order.orderer)) %>
			<% end %>
		<p>

		<p>
			<strong>Ordered At:</strong>
			<%= @order.created_at %>
			<% if @order.payment_type == "paypal"%> 
			<%else%>
				<%= @order.stripe_id %>
			<%end%>
		<p>

			<% if @order.shipment.present? %>
		<p>
			<strong>Shipped At:</strong>
			<%= link_to(@order.shipment.created_at, admin_shipment_path(@order.shipment)) %>
		</p>
		<% end %>

		<p>
			<% if @order.refunded_at %>
			<strong>Refunded At:</strong>
			<%= @order.refunded_at %>
			<% else %>
			<%# link_to('Refund Order', refund_admin_order_path(@order), method: :put, class: 'btn btn-sm btn-success') %>
			<% end %>
		<p>

		<p>
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>Product</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</thead>
				<tbdoy>
					<% @order.order_items.each do |order_item| %>
					<tr>
						<td>
							<% if order_item.product_type == "DistributorProduct" %>
								<%= order_item.product.name %>
							<%else%>
								<%= order_item.product_name %>
							<%end%>
						</td>
						<td><%= order_item.quantity %></td>
						<td><%= number_to_currency(order_item.price / 100.0) %></td>
						<td><%= number_to_currency(order_item.total / 100.0) %></td>
					</tr>
					<% end %>
					<% if @order.shipping_price.to_f>0 %>
					<tr>
						<td colspan="3"> Shipping Price:</td>
						<td><%= number_to_currency(@order.shipping_price) %></td>
					</tr>
					<% end %>
					<% if @order.process_handling_price.to_f>0 %>
					<tr>
						<td colspan="3"> S&H Price:</td>
						<td><%= number_to_currency(@order.process_handling_price) %></td>
					</tr>
					<% end %>
					
					<% if @order.discount && @order.discount.to_f>0 %> 
					<tr>
						<td colspan="3"> Discount:</td>
						<td><%= number_to_currency(@order.discount) %> (<%=@order.coupon_code%>)</td>
					</tr>
					<% end %>
					
				</tbdoy>
			</table>
		</p>

		<%if @order.shipping_code %>
		<p>
			<%= @order.shipping_code%>
		</p>

		<%end%>
		
		<%if @order.order_source == "Amazon.com" %>
			<p>Amazon Order Id: <%= @order.amazon_order_id %></p>
				
		<%end%>
	
		<p>
			<%= link_to "Send Invoice", send_invoice_admin_order_path(@order)%>
		</p>
		<p>

			<% if @order.cancelled.blank?%>
			<%= link_to icon_text('Edit', 'glyphicon glyphicon-pencil'), edit_admin_order_path(@order), class: 'btn btn-sm btn-primary' %>
			<%= link_to "Back", request.referrer, class: 'btn btn-sm btn-info' %>

			<% if @order.parent_order_id.blank? && @order.order_type == "recurrent" %>
			<%= link_to "Cancel Order", cancel_order_admin_orders_path(:order_id=>@order.id), :remote=>true, :data => { :confirm => "Are you sure want to cancel this order?" }, class: 'btn btn-sm btn-danger pull-right', "data-disable-with"=>"Updating..." %>
			<%else%>
			<% if @order.parent_order_id %>
			<% original_order =  Order.find @order.parent_order_id %>
			<%= link_to "Original Order", admin_order_path(original_order)%>
			<%end%>
			<%end%>
			<%else%>
			This order was cancelled at <%= @order.cancelled_at%>
			<%end%>
		</p>
			<%= @order.try(:orderer).try(:shipping_phone) %>
		<% if @order.held == true %>
			<%= link_to "release order", release_order_admin_order_path(@order)%> &nbsp;
				&nbsp;
			<%= link_to "Cancel Order", cancel1_order_admin_orders_path(:order_id=>@order.id), :remote=>true, :data => { :confirm => "Are you sure want to cancel this order?" }, class: 'btn btn-sm btn-danger pull-right', "data-disable-with"=>"Updating..." %>
		<% end %>
	</div>

	
	
	<% if @order.order_type == "recurrent" %>
	<% child_orders = Order.where("version_2_order = true and parent_order_id=?", @order.id)%>
	<%if child_orders.size > 0 %>

	<table class="table table-striped table-bordered table-hover table-condensed grid-table">
		<th> Delivered date Date</th>
		<th> Status</th>
		<th> Details </th>
		<% child_orders.each do |o| %>
		<tr>
			<td> <% if o.last_delivery_date %>
			<%= o.last_delivery_date.strftime("%d/%m/%Y") %>
			<%end%> </td>
			<td> <% if o.cancelled %>
			Cancelled
			<% else%>
			Active
			<%end%> </td>
			<td> <%= link_to("Details", admin_order_path(o)) %> </td>
		</tr>
		<%end%>
	</table>
	<%end%>
	<%end%>
</div>
