 
38G product price: &nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :new_price, ProductPrice.first.try(:price)%>

<br>
<br>
18G product price: &nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :small_product_price, ProductPrice.first.try(:small_product_price)%>

<br>
<br>
Recurrent price to: &nbsp;&nbsp;&nbsp;&nbsp; <%= text_field_tag :recurrent_new_price, ProductPrice.first.try(:recurrent_price)%>
<br>
<br>
 

<h4> Other product Prices</h4>

<br />
<br />
Value pack 2 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :valuepack_2_price, Product.where(:description=>"Value Pack 2").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />
<br />
Value pack 3 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :valuepack_3_price, Product.where(:description=>"Value Pack 3").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<br />
<br />

Value pack 4 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :valuepack_4_price, Product.where(:description=>"Value Pack 4").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />
<br />
Value pack 5 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :valuepack_5_price, Product.where(:description=>"Value Pack 5").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />
<br />
Combo pack Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :combo_price, Product.where(:description=>"Combo Pack").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />
<br />
Spary Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :spray_price, Product.where(:description=>"Hair Illusion Fiber Hold Spray").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />

<br />

Water Resistant Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :water_price, Product.where(:description=>"Water Resistant Spray").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />

<br />

Mirror Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :mirror_price, Product.where(:description=>"Mirror").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />

<br />

Optimizer Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :optimizer_price, Product.where(:description=>"Optimizer").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />

<br />
Combo2 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :combo2_price, ProductPrice.first.try(:combo2_price)%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
<br />

<br />

Combo3 Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :combo3_price, ProductPrice.first.try(:combo3_price)%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />

<br />

Laser Comb Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :laser_comb_price, Product.where(:description=>"Laser Comb").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />
<br />


6G Black Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :black_6g_price, Product.where(:description=>"Black 6g").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />
<br />

Applicator Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :applicator_price, Product.where(:description=>"Spray Applicator").first.try(:price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />
<br />

Applicator Combo Price: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_field_tag :applicator_combo_price, ProductPrice.first.try(:spray_combo_price).to_f/100%> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  

<br />
<br />
<%= link_to "Update Price" , "#", :onclick=>"onUpdatePrice(event)", :class=>"btn btn-primary"%>
