<div class="row">
	<div class="col-md-6 well">
		<% if session[:customer_id]%>
			<%= link_to "logout", '#', :onclick=>"onLogout(event)", :class=>"btn btn-danger btn-sm pull-right"%>
		<%end%>
		<h4>Your details</h4>

		<p>
			<strong>Name:</strong>
			<%= @customer.first_name %>
			<%= @customer.last_name %>
		<p>
		<p>
			<strong>Email:</strong>
			<%= @customer.email %>
		<p>
			<br />
		<p>
			<strong>Billing Address:</strong>
			<br/>
			<%= @customer.address1 %>
			<br/>
			<% if @customer.address2.present? %>
			<%= @customer.address2 %>
			<br/>
			<% end %>
			<%= "#{@customer.city}, #{@customer.state} #{@customer.zip} #{get_country_name(@customer.country, false)}" %>
		<p>

		<p> 
			<br />
			<strong>Shipping Address:</strong>
			<br/>
			<%= @customer.billing_address1 %>
			<br/>
			<% if @customer.billing_address2.present? %>
			<%= @customer.billing_address2 %>
			<br/>
			<% end %>
			<%= "#{@customer.billing_city}, #{@customer.billing_state} #{@customer.billing_zip} #{get_country_name(@customer.billing_country, false)}" %>
		<p>

			<h5>Your Club Order Details</h5>

			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>Product</th>
					<th>Next Delivery Date</th>
				</thead>
				<tbdoy>
					<% @order.order_items.each do |order_item| %>
					<% unless (order_item.product.description == "Hair Illusion Fiber Hold Spray" || order_item.product.description == "Optimizer" || order_item.product.description == "Mirror") %>
					<tr>
						<td><%= order_item.product.description %></td>
						<td>
							<% if @order.next_delivery_date%> 
								<%= @order.next_delivery_date.strftime("%d/%m/%Y") %>
								(If date already passed, will resume it from same day once you update the card)
							<%end%>
						</td>
					</tr>
					<%end%>
					<% end %>
				</tbdoy>
			</table>
			<% %>
			<h6>Please contact support@hairillusion.com if anything needs to update.</h6>
			
			<h5>Your current card details</h5>
			<table class="table table-striped table-bordered table-hover table-condensed"> 
				<tbdoy>
					<tr><td>Card Holder Name</td></tr>
					<tr><td><%= @card.card_name%></td></tr>
					<tr><td>Card Ending Number</td></tr>
					<tr><td><%= @card.card_number.split(//).last(4).join%></td></tr>
					<tr><td>Card EXP month/year</td></tr>
					<tr><td><%= @card.exp_month%>/<%= @card.exp_year%></td></tr>
					<tr><td>CVC</td></tr> 
					<tr><td><%= @card.ccv%></td></tr>
				</tbdoy>
			</table>
			<br />
			<h5>Please update your card details if above any fields not matching.</h5>
			
			<table class="table table-striped table-bordered table-hover table-condensed"> 
				<tbdoy>
					<tr><td>Card Holder Name</td></tr>
					<tr><td><%= text_field_tag "customer_name"%></td></tr>
					<tr><td>Number</td></tr>
					<tr><td><%= number_field_tag "card_number"%></td></tr>
					<tr><td>EXP Month</td></tr>
					<tr><td><%= number_field_tag "exp_month"%></td></tr>
					<tr><td>EXP Year</td></tr>
					<tr><td><%= number_field_tag "exp_year"%></td></tr>
					<tr><td>CVC</td></tr>
					<tr><td><%= number_field_tag "cvc"%></td></tr>
					<tr><td><%= link_to 'Update', '#', :onclick=>"OnCardUpdate(event)", :class=>"btn btn-primary btn-sm" %></td></tr>
				</tbdoy>
			</table>
	</div>
</div>

