<br />
<b>Please enter shipping address</b>
<br />
<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>First Name<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_first_name" onchange="OnchangeShippingAddress()" maxlength="50" name="first_name" type="text" value="" placeholder="*First Name:">
	</span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Last Name<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_last_name" onchange="OnchangeShippingAddress()" maxlength="50" name="last_name" type="text" value="" placeholder="*Last Name:">
	</span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Address1<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_address1" onchange="OnchangeShippingAddress()" maxlength="50" name="address1" type="text" value="" placeholder="*Address1:">
	</span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Address2<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_address2" maxlength="50" name="address2" type="text" value="" placeholder="Address2:">
	</span>
</div>
  
<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%">
		<span class="requiredIcon">*</span>Country<span class="labelColon">:</span></label>
		<label id="countryLabel2" class="hide" style="padding-top: 5px;">USA(club order only for USA)</label>
		<span class="fld"> <%= country_select_tag :billing_country, { priority_countries: ["US", "UK"], selected: "US" }, { class: 'form-control required'} %> </span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>State<span class="labelColon">:</span></label><span class="fld">
		<div id="billing_state_td">
			<%= render partial: 'billing_state', locals: {parent_region: 'US'} %>
		</div> </span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>City<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_city" onchange="OnchangeShippingAddress()" maxlength="50" name="city" type="text" value="" placeholder="*City:">
	</span>
</div>

<div class="fldCt required">
	<label class="label" style="color: #000;font-weight: normal;font-size:100%"><span class="requiredIcon">*</span>Zip<span class="labelColon">:</span></label><span class="fld">
		<input id="billing_zip" onchange="OnchangeShippingAddress()" maxlength="50" name="zip" type="text" value="" placeholder="*Zip:">
	</span>
</div>

 <script type="text/javascript">
	$( document ).ready(function() {  
	
	$("#billing_country" ).change(function() { 
		order_type = document.getElementById("orderType").value;
		if(order_type != "recurrent" && document.getElementById("billingCB").checked == false )
		 	{
		 		$("#shippingDiv").html("");
				$("#shipment_selected").val("");
		 	}
		 	
	country = $("#billing_country").val();
		$.ajax({
	    	type: "GET",
	        url: "/get_states?parent_region="+ country+"&from=billing"  ,
	        dataType: "script",
	    });
	}); 
});