<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %> 
  <% if country.nil? %>
    <em>Please select a country above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:billing_country, :state, parent_region, :style=>"height:17px") %>
  <% else %>
    <%= text_field(:billing_country, :state) %>
  <% end %>
</div> 
<style type="text/css">
	#order_state
	{
		color:#ff0000;
	}
</style>
