<div style="width: 291px">

	<div class="FormSubHeadlineL">
		Choose your color
	</div>
	<input type="hidden" id="productType">
	<input type="hidden" id="productQuantity"> 

	<div class="checkbox color" id="color-jetblack" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="JetBlack" name="Color" value="JET" onclick="setProductType('Jet Black')">
		<%= image_tag 'color-jet-black.png', :clas=>"colorimg"%>
		Jet Black
	</div>
	<div class="checkbox color" id="color-black" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="Black" name="Color" value="BLK" onclick="setProductType('Black')">
		<%= image_tag 'color-black.png', :clas=>"colorimg"%>
		Black
	</div>
	<div class="checkbox color" id="color-dkbrown" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="DarkBrown" name="Color" value="DKBR" onclick="setProductType('Dark Brown')">
		<%= image_tag 'color-dark-brown.png', :clas=>"colorimg"%>
		Dark Brown
	</div>
	<div class="checkbox color" id="color-brown" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="Brown" name="Color" value="BR" onclick="setProductType('Brown')">
		<%= image_tag 'color-brown.png', :clas=>"colorimg"%>
		Brown
	</div>
	<div class="checkbox color" id="color-lghtbrown" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="LightBrown" name="Color" value="LTBR" onclick="setProductType('Light Brown')">
		<%= image_tag 'color-light-brown.png', :clas=>"colorimg"%>
		Light Brown
	</div>
	<div class="checkbox color" id="color-auburn" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="Auburn" name="Color" value="AUB" onclick="setProductType('Auburn')">
		<%= image_tag 'color-auburn.png', :clas=>"colorimg"%>
		Auburn
	</div>
	<div class="checkbox color" id="color-blonde" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="Blonde" name="Color" value="BLN" onclick="setProductType('Blonde')">
		<%= image_tag 'color-blonde.png', :clas=>"colorimg"%>
		Blonde
	</div>
	<div class="checkbox color" id="color-lghtblonde" style="margin-top: 0px;padding-left:0px">
		<input type="radio" id="LightBlonde" name="Color" value="LTBLN" onclick="setProductType('Light Blonde')">
		<%= image_tag 'color-light-blonde.png', :clas=>"colorimg"%>
		Light Blonde
	</div>
</div>
