<table class="table hi-orders">
	<thead>
		<tr>
			<th>Product</th>
			<th class="text-right">Unit Price</th>
			<th class="text-right">Qty</th>
			<th class="text-right">Subtotal</th>
		</tr>
	</thead>
	<% session[:cart_obj].each do |product| %>
	<tbody>
		<tr>
			<td><img src="<%= get_pic(product)%>" height="50" class="img-thumbnail"><%= product[:name] %></td>
			<td class="text-right">$<%= number_with_precision(product[:unit_price], :precision => 2) %></td>
			<td class="text-right"><%= product[:quantity] %></td>
			<td class="text-right">$<%= number_with_precision(product[:price], :precision => 2) %></td>
		</tr>
	</tbody>
	<%end%>
	<tfoot>
		<tr>
			<th colspan="3" class="text-right">Subtotal :</th>
			<td class="text-right">$<%= number_with_precision(get_sub_total, :precision => 2) %></td>
		</tr>
		<tr>
			<th colspan="3" class="text-right">Shipping :</th>
			<td class="text-right">$<%= number_with_precision(get_shipping_price, :precision => 2) %></td>
		</tr>
		<tr>
			<th colspan="3" class="hi-highlight text-right">Total :</th>
			<td class="text-right">$ <%= number_with_precision(get_sub_total + get_shipping_price, :precision => 2) %></td>
		</tr>
	</tfoot>
</table>