<div>
	<div class="FormSubHeadlineL">
		Choose your color
	</div>
	<div class="product grid flex space wrap">
		<div class="checkbox color" id="color-jetblack" style="text-align: center">
			<%= image_tag 'color-jet-black.png', :clas=>"colorimg"%>
			<label for="ActionQuantity1" style="width:40px">
				<select class="cardExpirationMonth selectclass ddl ddl" id="ActionQuantity1" name="ActionQuantity1" data-index="1" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Jet Black
				</p> </label>
		</div>
		<div class="checkbox color" id="color-black" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-black.png', :clas=>"colorimg"%>
			<label for="ActionQuantity2" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity2" name="ActionQuantity2" data-index="2" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Black
				</p> </label>
		</div>
		<div class="checkbox color" id="color-dkbrown" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-dark-brown.png', :clas=>"colorimg"%>
			<label for="ActionQuantity3" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity3" name="ActionQuantity3" data-index="3" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Dark Brown
				</p> </label>
		</div>
		<div class="checkbox color" id="color-brown" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-brown.png', :clas=>"colorimg"%>
			<label for="Brown" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity4" name="ActionQuantity4" data-index="4" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Brown
				</p> </label>
		</div>
		<div class="checkbox color" id="color-lghtbrown" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-light-brown.png', :clas=>"colorimg"%>
			<label for="LightBrown" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity5" name="ActionQuantity5" data-index="5" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Light Brown
				</p> </label>
		</div>
		<div class="checkbox color" id="color-auburn" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-auburn.png', :clas=>"colorimg"%>
			<label for="ActionQuantity6" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity6" name="ActionQuantity6" data-index="6" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Auburn
				</p> </label>
		</div>
		<div class="checkbox color" id="color-blonde" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-blonde.png', :clas=>"colorimg"%>
			<label for="ActionQuantity7" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity7" name="ActionQuantity7" data-index="7" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Blonde
				</p> </label>
		</div>
		<div class="checkbox color" id="color-lghtblonde" style="margin-top: 7px;margin-bottom: 0px">
			<%= image_tag 'color-light-blonde.png', :clas=>"colorimg"%>
			<input id="ActionCode8" name="ActionCode8" type="hidden" value="OTLTBLN">
			<label for="ActionQuantity8" style="width:40px;margin-left:-2px">
				<select class="cardExpirationMonth selectclass  ddl ddl" id="ActionQuantity8" name="ActionQuantity8" data-index="8" onchange="onChangeQty(this.value)">
					<option>0</option> 
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option> 
				</select>
				<p>
					Light Blonde
				</p> </label>
		</div>
	</div>
</div>
</div> 