<div id="reviewOrder">
	<div class="FormHeadlineL">
		<strong>STEP 3:</strong>
		<br>
		Select Payment Method
	</div>
	<style>
		.alignTextRight {
			text-align: right;
		}

		.alignTextLeft {
			text-align: left;
		}
	</style>
	<table id="orderReview" class="orderItemsTable reviewTable">
		<thead class="reviewTableHead"></thead>
		<tbody class="reviewTableBody" id="cartTR">
			<select name="paymentMethod" id="paymentMethod" onchange="payMethodChanged(this.value)">
				<option value="card">Pay with card</option>
				<% if params[:type] != "bonus" %>
				<option value="paypal">Paypal</option>
				<%end%>
			</select>
		</tbody>
	</table>
</div>