<% if @carriers.size > 0 %>
<table class="table">
	<thead>
		<th>Select</th>
		<th>Carrier</th>
		<th>Amount</th>
		<th>Expcted Date</th>
	</thead>
	<tbody>
		<% @carriers.each do |c| %>
			<tr>
				<td><%= radio_button_tag 'shipping_rate',"#{c[:amount]}____#{c[:shipping_code]}", false, :onclick=>"onChooseCarier(this)" %> </td>
				<td><%=c[:name]%></td>
				<td><%=c[:amount]%> $</td>
				<td><%=c[:deliver_min_date].strftime("%m/%d/%Y")%> - <%=c[:deliver_max_date].strftime("%m/%d/%Y")%> </td>
			</tr>
		<%end%>
	</tbody>
</table>
<%else%>
<br />

<h5>Please enter valid address,zip code</h5>
<%end%>
