<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %> 
  <% if country.nil? %>
    <em>Please select a country above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:country, :state, parent_region, :style=>"height:17px") %>
  <% else %>
    <%= text_field(:country, :state) %>
  <% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#order_state").addClass("form-control required'"); 
		$("#country_state").change(function() { 
			$("#shippingDiv").html("");
			$("#shipment_selected").val('');         
	    }); 
	})
</script>
