$("#cartTR").html(" <%= escape_javascript( render 'product_cart') %>");    
$("#totalDiv").html(" <%= escape_javascript( render 'total_price') %>");    
 

<% if session[:product_cart].nil?  %>  
  $("#product_selected").val("false")  
<%else%>  
	$("#product_selected").val("true")  
<%end%>

$("#shippingDiv").html("")
