
<% if params[:type] == "bonus" %>
	$("#bonusRadio").html(" <%= escape_javascript( render 'bonus_products') %>");       
	$("#cb_country").val('US')  
	$('#cb_country').trigger('change'); 
	$("#billing_country").val('US')  
	$('#billing_country').trigger('change');
	$("#cb_country").hide()
	$("#billing_country").hide() 
	
	$("#countryLabel2").removeClass('hide')
	$("#countryLabel2").show() 
	
	$("#countryLabel1").removeClass('hide')
	$("#countryLabel1").show() 


<%else%>
	$("#bonusRadio").html(" <%= escape_javascript( render 'normal_products') %>");   
	$("#cb_country").show()
	$("#billing_country").show()
	$("#countryLabel2").hide()
	$("#countryLabel1").hide() 
<%end%>

$("#cartTR").html(" <%= escape_javascript( render 'product_cart') %>");    
$("#totalDiv").html(" <%= escape_javascript( render 'total_price') %>");    