<div style="color:#fff">
	<h4>Login</h4>
	<%= form_for :customer, url: home_login_path, html: { class: 'form-horizontal' }, :remote=>true do |f| %>
	<table style="color:#000">
		<tr>
			<td style="padding: 10px;font-size: 14px;color: #fff">Email:</td>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<td style="padding: 10px;font-size: 14px;color: #fff">Password:</td>
			<td><%= f.password_field :password%></td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.submit "Login", :class=>"btn btn-primary btn-sm"%>
			</td>
		</tr>
	</table>
	<%end%>

</div>
