<br />
<br />
<div class="section" style="border: solid;border-width: 1px;padding: 10px;border-color: #ccc">
	<%= form_for :user, url: forgot_password_email_path, html: { class: 'form-horizontal' }, :remote=>true do |f| %>
	<table>
		<tr>
			<td style="padding: 10px;font-size: 14px;color: #fff">Your Distributor Email:</td>
			<td style="padding: 10px">
				<%= text_field_tag :email, '', class: 'form-control required', :required=>true %></td> 
			<td style="padding: 10px"><%= f.submit "Reset", :class=>"btn btn-primary", "data-disable-with"=>"Wait..." %></td> 
		</tr>
	</table>
	<%end%>
</div>