$('#shipButtton').text("Choose shipping carriers");
$('#shipButtton').prop('disabled', false);
		

<% if @error == '' %>
	$("#shippingDiv").html(" <%= escape_javascript( render 'shipping_methods') %>");  
<%else%>
	alert("<%=@error%>")
<%end%>
