<% if params[:from] == "billing"%>
	$("#billing_state_td").html('<%= escape_javascript(render('billing_state' )) %>'); 
<%else%> 
	$("#state_td").html('<%= escape_javascript(render('subregion_select' )) %>');  
<%end%>


$("#cartTR").html(" <%= escape_javascript( render 'product_cart') %>");    
$("#totalDiv").html(" <%= escape_javascript( render 'total_price') %>");    

$("#shippingDiv").html("");
$("#shipment_selected").val('');
 




