<%= stylesheet_link_tag "js_composer"%> 
<%= stylesheet_link_tag "main_media"%>
<%= stylesheet_link_tag "wt_front"%>

<style type="text/css">
	.red_color_link
	{
		color:#ff0000;
		font-weight: bold;
	}
	
	.normal_text
	{
		font-weight: normal;
		font-size:13px;
	}
</style>
<div style="background: #fff">
<div class="container">
	<h2 style="text-align: center">Hair Illusion Reviews</h2>
</div>

<div class="container">
	<div class="wt-row-container">
		<div class="vc_row wpb_row vc_row-fluid ">
			<div class="vc_col-sm-6 wpb_column vc_column_container"> 

				<div class="wt_wpb_wrapper clearfix">  
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Excellent product!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong>Wes</strong>, June 18, 2017
							</p>
							<p class="normal_text"> 
								I was skeptical at first with no experience with this brand. Plus I was already loyal to another brand with a higher price point. I've used a more expensive synthetic fiber for a few years now and had no idea this product was so superior. Real hairs make a difference for me! Synthetics soak up oil from my scalp and look flatter than the rest of my hair as the day goes on. I have thin spots on the crown, temple, front hairline, and very top. A simple touch would move the fibers out of place and leave residue on the fingers. I had to manuever like a boxer to avoid people touching my hair. God forbid someone sneaks up behind me. Hard rain would move the fibers out of place also so I had to keep an umbrella if clouds appear. I haven't sweated or wore a hat with hair illusions yet, but the oily spots looking flat and fake isn't a problem anymore and if I use hold spray they stay in place if I touch my hair. That gives me so much more confidence. Now I'm not constantly checking in the mirror to see if everything's still in place. The only drawback is it seems to leave a bigger mess, but the lower price point and added confidence makes up for it. I can wear longer hairstyles now too even though I prefer a short fade. I just don't have to keep it buzzed now. I've been blown away so far. This stuff is amazing! Honestly, real hair fibers is the way to go. They reflect light the same as the rest of your hair. Just looks way more natural than synthetic.[Tips: 1) Spray hold spray on first for fibers to stick, apply fibers, then spray again to hold them in place. 2) Wear a du-rag at night to maintain the style longer 3) Consider in investing in clippers and trimmers for touch-ups and upkeep. Plenty of tutorials on YouTube to learn how to use them on yourself.] Hope this review helps someone
							</p> 
						</div>
					</div>
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Amazing product!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong>Pedro Mesa</strong>, March 05, 2017
							</p>
							<p class="normal_text"> 
								Amazing product for a bald spot I have on the back of my head due to a Major Car Accident. I went to my Barbershop and brought Hair Illusions with me. My barber wasn't sure if it was going to work as he had never heard of this before. I knew it was going to work so I told him to cut my hair shorter then usual even if the bald spot showed. When he applied the Hair Illusions to my bald spot he was amazed, everyone in the barber shop was amazed, they couldn't believe how real and quick it transformed my Bald spot into a patch of real amazing looking hair. 
							</p> 
						</div>
					</div>
					
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Hair Illusion Stands Apart!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp; <a href="https://www.amazon.com/gp/profile/amzn1.account.AFK7FDCWM2SH5KCUU7ZVTPXBEO3Q?ie=UTF8&ref_=cm_cr_arp_d_pdp" target="_blank"><strong>P. Ricky</strong></a>, February 08, 2017
							</p>
							<p class="normal_text"> 
								For a long time I've been sruggling with my thinning hair and trying to find a solution. I even set an appointment for a hair analysis with the Hair Club. Some suggested maybe I should go bald, but I know I could not live with that. One day while I was shopping in the mall I walked by this Kiosk in the mall that had this product called Royale Hair Solution, 100 % Natural Hair Fibers. When I first tried the product It seemed to work okay, but after awhile following a few refills, the quality of the product begin to diminish. The refills were clumpy and began to look like powder. I was desperate to find a replacement. I tried Toppix, which turned out to be clumpy and also ION which had the same result. I almost gave up until I searched online for some type of permanent solution to my hair problem. When I looked online at the reviews of several products and I came across Hair Illusion and saw the reviews were very good. I was intrigued that it was actual hair fibers and not synthetic fibers. I saw the pictures of the fibers up close as well as the before and after pictures of users which were outstanding! I decided to try Hair Illusion and I couldn't be more pleased. The difference is so amazing from the other products I used. It actually looks like my hair that has grown back. My wife tells me that it looks so natural! Man, I can actually cut a tape line with this product which is amazing! I've received several comments about how good my hair looks! I love Hair Illusion! It's the real deal men! I am absolutely pleased.
							</p> 
						</div>
					</div>
										
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>AMAZING product & confidence booster!!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp; <a href="https://www.amazon.com/gp/profile/amzn1.account.AG66PT56VHDMTXU6XOSSEEWUFGPA?ie=UTF8&ref_=cm_cr_arp_d_pdp" target="_blank"><strong>Jclink</strong></a>, Jan 20, 2017
							</p>
							<p class="normal_text"> 
								I absolutely love Hair Illusion and have been using it for quite a while. I have balding near my forehead area and thinning hair. This product is absolutely amazing -- it gives me that boost of confidence and looks like the real thing. Also, I'm glad the company changed the applicator cap. The hair fibers come out much easier and more efficiently.
							</p> 	
							<p class="normal_text"> 
								Did I mention that the company CEO personally reached out to me via email? ...talk about outstanding customer service. There's no doubt in my mind that he (name is Ronnie) truly cares about his product but most importantly, the consumers.
							</p> 	
							<p class="normal_text"> 
								Overall, I HIGHLY RECOMMEND buying Hair Illusion. This is the best for guys like me who suffer from hair loss/balding.
							</p> 
						</div>
					</div>
					
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Highly recommended!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp; <a href="https://www.amazon.com/gp/profile/amzn1.account.AGBJEYALNBDOEM3HCIDYOU7BUDPA?ie=UTF8&ref_=cm_cr_arp_d_pdp" target="_blank"><strong>Amazon Customer</strong></a>, Jan 13, 2017
							</p>
							<p class="normal_text"> 
								I was a Toppik user for years until I found this far superior product on Amazon. I'll never go back. And, the customer support is just as awesome as the product.					
							</p> 
						</div>
					</div> 
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Amazing!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong>Robert</strong>, December 07, 2016
							</p>
							<p class="normal_text"> 
After my hair grew back, after chemo and radiation, it was very thin and not all of my hair came back. Hairillusion product is amazing and looks real compared to the other products I've used.
To top it all off your hands on approach with your customers makes me want to support your efforts. I'm not sure you know how life changing your products are!
							</p> 
						</div>
					</div>
					
					
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Amazing product!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong>Darlene K Edwards</strong>, November 11, 2016
							</p>
							<p class="normal_text"> 
								Having been an instructor for years, I go to a beauty school to have my hair trimmed.  I took your product with me so the student could apply it at my last trim.  Even the instructor was impressed with the outcome.							</p> 
						</div>
					</div>
					
					
					<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Best product!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong>VC</strong>, September 2, 2016
							</p>
							<p class="normal_text"> 
								Your product is in my opinion the BEST on the market.I have been using Toppik for more than 10 years But when I switched to your Yours there was NO contest. Hair illusions is light years ahead of anybody.							
							</p> 
						</div>
					</div>
					
					
					
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>Perfectly Wonderful</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong> Retretta Belfield</strong>, June 06, 2016
							</p>
							<p class="normal_text">
								I must agree with you 100%.This product is Perfect.After trying another product that wasn’t very good I gave up & just shaved my head bald.
This didn’t look bad, but being a woman who suffers from severe male pattern baldness, it just didn’t feel good.I got the one that is right for me after trying a few different colors.I must say I am THRILLED.I thank you for this product & I am so glad I found it.
							</p> 
						</div>
					</div>  
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>Excellent Product</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong> Gabriel</strong>, Apr 27, 2016
							</p>
							<p class="normal_text">
								I just tried it in the mirror and its amazing! I've been dealing with a bald spot on my head since birth from surgery ( as big as my little toe) and in middle and high school I got made fun of so much that I ended up getting my GED to stay home and take online college classes. This just gave me self esteem I never had before.
							</p> 
						</div>
					</div> 
					
					
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>Amazing Product</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong> Jessica P</strong>, Aug 17, 2015
							</p>
							<p class="normal_text">
								After a long frustrating re-occurrence of alopecia arrays, I finally discovered your product.  It has helped me achieve a feeling close to normalcy while my hair slowly regrows back and helps minimize the stress that aggravates AA.  I’m very happy with your product! Regards.
							</p> 
						</div>
					</div> 
					
					
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>Hair illusion has given me the most confidence!</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong>Whitney</strong>, June 10, 2015
							</p>
							<p class="normal_text">
								Thank you so much ! I just want to say that I’ve tried EVERYTHING to cover up my bald spots, and have been disappointed time after time. I am only 20 years old. So socially, it’s extremely rough for me if I have no solution. I’m more than happy to say that out of the 100+ products I’ve tried. Hair illusion has given me the most confidence! Again, THANK YOU
							</p>

						</div>
					</div>
					 
				</div>
			</div>

			<div class="vc_col-sm-6 wpb_column vc_column_container">
				
				<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>Comfortable enough to leave my house with no hat after 6 years!</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong>Courtney W</strong>, June 10, 2015
							</p>
							<p class="normal_text">
								I recently purchased your items and words cannot express how happy I am. I suffer from a hair condition called Achne Keloid nuchea and because of the embarrassment I was having to wear hats through all weathers, at work and playing sports. The only time my hat was off was during the comfort of my home and even when guests came round I would wear a hat or hood. It has been a real strain on my life but today thanks to your product I felt comfortable enough to leave my house with no hat after 6 years. What an amazing thing you have done for me and I just wanted to say thank you.
							</p>

						</div>
					</div>
					
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element "> 
						
						<div class="wpb_wrapper">
							<p>
								<strong>This has to be the best product on the market of its kind</strong>
							</p>
							<p>
								<%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>
								&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A1T58W6Q4E53GV/ref=cm_cr_rdp_pdp">Ausby</a></strong>, April 2, 2015
							</p>
							<p class="normal_text">
								This has to be the best product on the market of its kind. I’ve tried others and you could always tell there was smthg in your hair. With this product, it’s seamless. TOTALLY undetectable. I can only speak from a black male’s perspective. The jet black is a total life changer.
							</p>

						</div>
					</div> 
					
				
				<div id="wt_spacer_sc-41733" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Worth every penny</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A1U3K1HQSN6ZF/ref=cm_cr_rdp_pdp">g</a></strong>, April 2, 2015
							</p>
							<p class="normal_text">
								Yesss!!!!!! I starting crying seeing my edges full again. I was sweating I splashed water to simulate rain I used my blow dryer to simulate wind and NO RUNS!!!!!!! Inside or outside in direct sunlight I couldn’t tell my edges was thin. JUST WOW ! THANK YOU GUYS FOR GIVING ME MY EDGES BACK!
							</p>

						</div>
					</div>
					
				<div id="wt_spacer_sc-20736" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Outstanding product!!!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/AYFJVSOWYG8B1/ref=cm_cr_rdp_pdp">Darnell B</a></strong>, March 4, 2015
							</p>
							<p class="normal_text">
								What can I say man there is something special about this hair illusion in my mid 20’s my hairline started to receding I’m 30 yrs old now it’s abandon my scalp. it had me frustrated i tried almost entire hair loss product an none work tried to be a little more patient but it’s tough then when I tried hair illusion it’s like a miracle this product is for real it’s very simple i should’ve bought this stuff long time ago didn’t know it’ll work this good I Highly Recommend this product to those who losing their hairline or bald spot it works like magic just make sure you know your hair color and get some of that super hold spray so that way when you sprinkle hair illusion on your hairline or bald spot it’ll work like a charm if you’re planning on going outdoors it’ll be a good time to put on hair illusion but if you gonna be in your home all day you don’t have to use it only way it come off as if you decided to shampoo your hair it’s worth the money in my opinion take a chance try it for yourself an see if you’re satisfied or not.
							</p>

						</div>
					</div>
					
				<div class="wt_wpb_wrapper clearfix">  
					
					<div id="wt_spacer_sc-62119" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Very good product!!!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A255JZFY3W05QS/ref=cm_cr_rdp_pdp">tj</a></strong>, January 18, 2015
							</p>
							<p class="normal_text">
								Excellent!!! It’s real human hair fibers it’s not messy at all, unlike caboki I used or those others that make a mess or stains hair illusion is fabulous!!!
							</p>

						</div>
					</div> 
					
				<div id="wt_spacer_sc-28533" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Love this product!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A1YPPWM9U5C6A8/ref=cm_cr_rdp_pdp">Amazon Customer</a></strong>, March 2, 2015
							</p>
							<p class="normal_text">
								I love this product. It really does work and gives the illusion that I have more hair than I have on my balding head. I highly recommend it.
							</p>

						</div>
					</div>
					
				<div id="wt_spacer_sc-30712" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Nothing else like it</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/AUE1SULUZ6C5D/ref=cm_cr_rdp_pdp">Michael G. Mathis</a></strong>, November 23, 2014
							</p>
							<p class="normal_text">
								This product is by far better than any other fibers I’ve ever used. Toppik pales in comparison. Caboki is great but it is second. Hair illusion looks like real hair when you pour it from the bottle. I actually use my Toppik applicator for part of my application. GREAT product.
							</p>

						</div>
					</div>
					
					
					<div id="wt_spacer_sc-86554" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Amazing product</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A2K9I5X5CDMPXN/ref=cm_cr_rdp_pdp">Tonya Jones-Jules</a></strong>, November 16, 2014
							</p>
							<p>
								This is an amazing product! This product has given me back my confidence regarding my overall appearance. I’m not wondering what people are thinking about my balding due to alopecia. A couple of negatives: I wish it sprayed on and it wiped of easy.
							</p>

						</div>
					</div> 
					
					
					<div id="wt_spacer_sc-67152" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:50px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Best product out on the market</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A2CWEHH5S1R9UY/ref=cm_cr_rdp_pdp">rjr2004</a></strong>, October 9, 2014
							</p>
							<p class="normal_text">
								Best product out on the market! This was my 2nd purchase and am still blown away by the results. After my hair transplant earlier this year, I was dissatisfied that I still had thinning areas…this product does wonders to fix that!
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-18539" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Fantastic</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A3PKFRP4QDFEYH/ref=cm_cr_rdp_pdp">Amazon Customer</a></strong>, October 9, 2014
							</p>
							<p class="normal_text">
								I tried Toppik a while back and thought is was OK. Then i tried Dermmatch which i loved and still like a lot but i saw the pictures on Hair Illusions instagram and decided to give it a shot. When i first tried it, I didnt like it much and it seemed kind of messy but then i wondered how the hell the guys on instagram made it look so good. I tried it again with hair spray and was more skillful with how i put it on, let me tell you. When you get it right,… nothing looks better than this. I was really surprised how good it looked. I tried looking at it up close in the mirror under very bright lights and it seems the brighter the light, the more natural it looks. Same could be said in the Sun, looks more natural in the sun. Another note on this, i went out one night with it on… On my way home.. it started raining pretty hard. I said to myself “Oh F**k” but i was going home anyway so whatever… when i got home i looked in the mirror and it was STILL good. I credit this to the very strong hair spray i used called Bed Head, hard Head. That thing locks it DOWN!. Overall, fantastic product. I highly recommend this with a strong hairspray to keep it locked in. Also, it takes some practice but like i said, when you get it right… Nothing looks better. The only downside i have about this is the price, Could be a bit cheaper and i would buy more in bulk. Lower the price is this would be perfect.
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-18299" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>One of the best products I have ever used</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A2K958J6XIYK10/ref=cm_cr_rdp_pdp">Robert</a></strong>, October 2, 2014
							</p>
							<p class="normal_text">
								One of the best products I have ever used, and I have used quite a few. Hands down the best I have ever tried. No complaints. As well as very professional customer service.
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-79624" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Highly recommended for personal or professional use!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/ARNUKUKBQNHRD/ref=cm_cr_rdp_pdp">valyn</a></strong>, September 23, 2014
							</p>
							<p class="normal_text">
								Great and innovate product! My clients and fellow barbers are beyond impressed with the natural look of this product when applied. Highly recommend this for barbers or anyone wishing to conceal bald area’s without the use of harmful chemicals and dyes.
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-11790" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>This is a very good product, I really like it</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A1JTQFJT9QCXNM/ref=cm_cr_rdp_pdp">WILL</a></strong>, September 9, 2014
							</p>
							<p class="normal_text">
								This is a very good product, I really like it. Covers nicely and does the job. Looks very natural and doesn’t flake up or run when I work out and sweat like other products do. It gives very good scalp coverage and it blends in well. Recommend this product to anyone with thinning or receding hair. This is the best product I’ve tried. Very pleased with seller as well.
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-25749" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>I look great!!!</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A1FO6MPL1HZA6G/ref=cm_cr_rdp_pdp">ROBERT E CERONE</a></strong>, May 15, 2014
							</p>
							<p class="normal_text">
								I look 10 years younger. I wish I found this product 10 years ago. It’s such an easy fix!!! I have told everybody about this product.
							</p>

						</div>
					</div>
					<div id="wt_spacer_sc-86158" class="wt_spacer_sc wt_clearboth" style="height:30px; line-height:30px;"></div>
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<p>
								<strong>Regained my confidence</strong>
							</p>
							<p><%= image_tag '5-stars.png', :class=>"wp-image-1610 size-full alignnone", :style=>"height:25px;width:103px"%>&nbsp;– By&nbsp;<strong><a class="red_color_link" href="http://www.amazon.com/gp/pdp/profile/A3DHVQ09FBSBUD/ref=cm_cr_rdp_pdp">Christopher</a>, March 14, 2014</strong>
							</p>
							<p class="normal_text">
								I am in my mid twenties and my hairline has been receding for a couple of years. I tried Biotin and other all natural products as well as expensive prescriptions and none of them worked. I was looking for other natural products when I came across Hair Illusion. I never heard of using real hair for a concealer so I purchased this product expecting very little. I was blown away on how natural looking and durable this product is. It blended so well my girlfriend of four years could not even tell what was different. I would recommend this product to anyone with thinning or receding hair.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>