<div class="pagination-center">
	<br />
	<h4 style="text-align: center;width: 100%;color: #fff"> Your password reset request is submitted, Please check your email for more details.</h4>
	<br />
</div>

