

<h2 class="title-text text-center" style="color: #fff">Photos</h2>


<br />

<div class="row">
	
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_17.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_18.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_19.jpeg", class: "img-responsive") %> 
    </div>     
</div>
 
<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_20.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_21.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_22.jpeg", class: "img-responsive") %> 
    </div>     
</div>

 
<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_23.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_24.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_25.jpeg", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_26.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_27.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_28.jpeg", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_29.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_30.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_31.jpeg", class: "img-responsive") %> 
    </div>     
</div>


<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_32.jpeg", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_33.jpeg", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("new_34.jpeg", class: "img-responsive") %> 
    </div>     
</div>
 


 
<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_0.PNG", class: "img-responsive") %> 
    </div> 
    
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_2.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_3.JPG", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_4.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_5.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_6.JPG", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_10.PNG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_11.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_9.JPG", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_12.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_13.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_14.JPG", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_15.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_16.JPG", class: "img-responsive") %> 
    </div> 
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_17.JPG", class: "img-responsive") %> 
    </div>     
</div>

<div class="row">
	<div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_1.JPG", class: "img-responsive") %> 
    </div> 
  <div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_7.JPG", class: "img-responsive") %> 
    </div> 
    <div class="col-sm-6 col-md-4"> 
		<%= image_tag("pic_9.PNG", class: "img-responsive") %> 
    </div>    
</div>
 
<br />
<div class="row">
  <% %w(a b c).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% %w(d e f).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% %w(g h i).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% %w(j k l).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% %w(m n o).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% %w(p).each do |i| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail well">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-before.JPG", class: "img-responsive") %>
          </div>
          <div class="col-md-6">
            <%= image_tag("diff-#{i}-after.JPG", class: "img-responsive") %>
          </div>
        </div>
        <div class="caption">
          <div class="row title-text">
            <div class="col-md-6"><p class="text-center">Before</p></div>
            <div class="col-md-6"><p class="text-center">After</p></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>


<h2 class="title-text text-center" style="color: #fff">Testimonials</h2>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail well">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag('ronnie_before.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-6">
          <%= image_tag('ronnie_after.jpg', class: "img-responsive") %>
        </div>
      </div>
      <div class="caption">
        <div class="row title-text">
          <div class="col-md-6"><p class="text-center">Before</p></div>
          <div class="col-md-6"><p class="text-center">After</p></div>
        </div>
        <p>
          <q><em>Before using Hair Illusion, I wouldn't leave the house without my hat. Now that I have been using Hair Illusion my confidence is back. I'm truley amazed every time I look in the mirror how real my hair looks.  This product saved my life.</em></q>
        </p>
        <p>Ronnie Passariello - CEO & Founder.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail well">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag('mike_before.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-6">
          <%= image_tag('mike_after.jpg', class: "img-responsive") %>
        </div>
      </div>
      <div class="caption">
        <div class="row title-text">
          <div class="col-md-6"><p class="text-center">Before</p></div>
          <div class="col-md-6"><p class="text-center">After</p></div>
        </div>
        <p>
          <q><em>Hair Illusion was my savior to going out with my balding hair. I didn't want a hair transplant or a hair weave. I didn't want to shave it bald. Rogaine worked for a little while.<br/><br/>My permanent fix was this cosmetic product that I can take with me while I travel.</em></q>
        </p>
        <p>Mike M. - Florida.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail well">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag('tony_before.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-6">
          <%= image_tag('tony_after.jpg', class: "img-responsive") %>
        </div>
      </div>
      <div class="caption">
        <div class="row title-text">
          <div class="col-md-6"><p class="text-center">Before</p></div>
          <div class="col-md-6"><p class="text-center">After</p></div>
        </div>
        <p>
          <q><em>When I started losing my hair I didn't know what to do. I tried using Rogaine, Propecia, Nizoral shampoo, anything I could find. luckily when I was searching for hair loss products I came across Hair Illusion. It was like magic. I would go into the bathroom with a big bald spot and 2 minutes later come out with a full head of hair.</em></q>
        </p>
        <p>Tony C. - Boston.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail well">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag('janet_before.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-6">
          <%= image_tag('janet_after.jpg', class: "img-responsive") %>
        </div>
      </div>
      <div class="caption">
        <div class="row title-text">
          <div class="col-md-6"><p class="text-center">Before</p></div>
          <div class="col-md-6"><p class="text-center">After</p></div>
        </div>
        <p>
          <q><em>I am so happy I decided to try hair illusion. I was self conscious about my hair thinning over the last couple of years. Hair illusion has helped me feel confident. I don't wash my hair daily and hair illusion stayed on for three days until I washed it.  As suggested I only used hair spray and I didn't have to reapply. Even through the rain. It made my hair color look better as well.  It is a great product. After looking at the before pictures I realized I was not aware of how much my hair was thinning. It definitely makes my hair appear thicker without the worry of the wind or rain.</em></q>
        </p>
        <p>Janet age 70</p>
      </div>
    </div>
  </div>
 
</div>
