<% if params[:value] == "true" %> 
	$("#billingDetails").html(" <%= escape_javascript( render 'billing_details') %>"); 
 
	if($('#orderType').val()=="recurrent")
	{
		$("#billing_country").val('US')  
		$('#billing_country').trigger('change'); 
		$("#billing_country").hide() 
		$("#countryLabel2").removeClass('hide')
		$("#countryLabel2").show()
	} 
<%else%>
	$("#billingDetails").html(""); 
<%end%>
$("#shipment_selected").val("true")  