<div style="width: 100%;text-align: center;color:#fff;padding:20px;">

<h4> Thank you for your order.</h4>

<h4> Please check your email for confirmation email.</h4>

<br />
 
<%= link_to "Home", "/", :class=>"ordnwbtn" %>

</div>


<!-- Google Code for Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 973186571;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "sBh7CIXmrgcQi8yG0AM";
var google_conversion_value = 1.00;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/973186571/?value=1.00&amp;label=sBh7CIXmrgcQi8yG0AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
 
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/973186571/?value=1.00&amp;currency_code=USD&amp;label=fCPtCMK3pmoQi8yG0AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>