<div class="outWrap outWhite">
	<div class="Wrap" id="flowWrap">
		<div id="upsellSection">
			<div id="orderCompleteTxt"></div>
			<div id="upsellImage"> 
				<%= image_tag 'IMG_3191.jpg', class: 'img-responsive' %>
			</div>
			<div id="upsellTxt">
				<h2 class="upsellTitle"> HAIR ILLUSION WATER RESISTANT</h2>
				Revolutionary Water Resistant Spray. No More worries about rain, sweating, and Showers. We have tested this product under shower water and it holds up perfect. It's not made to run your head under the shower. its made in case you get your hair wet in the shower. This spray is water resistant, NOT water proof. If you get your hair wet let hair air dry. Do not touch your hair. Apply more spray if needed. As always we offer a no questions asked money back guarantee. Our Water Resistant Spray is not to be used as replacement of our fiber hold spray. Our water resistant spray is only to make your hair water resistant.
				<div class="clearer"></div>
				<div class="Quantity">
					<input id="ActionType0" name="ActionType0" type="hidden" value="0">
					<input id="ActionCode0" name="ActionCode0" type="hidden" value="OPT">
				</div><!-- END class='Quantity' --><div class="clearer"></div>
				<h3 class="cta">Yes, I want to add the water resistand to my order today for 29.95$!</h3>

				<div class="clearer subclear"></div>
				<%= link_to(image_tag('yes_button.gif', :id=>"third_upsell"), "#", :onclick=>"onBuyUpsell('Water Resistant Spray',4)") %> 
				<input alt="No, Thanks." id="rejectOffer" name="rejectOffer" value="NO"  onclick="onCancelUpsell('Water Resistant Spray')" style="display: inline-block;max-width: 155px">

			</div>
			<!-- END id="upsellTxt" -->
			<div class="clearer"></div>

		</div><!-- END id="upsellSection" -->
		<div class="clearer subclear"></div>
	</div>
	<div class="clearer"></div>
</div>