<br />
<h2 style="padding: :30px;color: #fff;width: 100%;text-align: center"> You are in the final step.. </h2>
<br />
<h3 style="padding: :30px;color: #fff;width: 100%;text-align: center"> Please complete the payment... </h3>
<table style="width: 100%;font-family: verdana,arial,sans-serif;font-size:11px; color:#333333;border-width: 1px; border-color: #666666;border-collapse: collapse;">
	<thead>
		<tr>
			<th width="60%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Order #</th>
			<th width="40%" colspan="2" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;"><%= @order.id %></th>
		</tr>
		<tr>
			<th width="60%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;"></th>
			<th width="20%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Price</th>
			<th width="20%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Total</th>
		</tr>
	</thead>
	<tbody>
		<% @order.order_items.each do |order_item| %>
		<tr>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><%= order_item.product.description %> (x<%= order_item.quantity %>)</td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><%= number_to_currency(order_item.price / 100.0) %></th> <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(order_item.total / 100.0) %></strong></td>
		</tr>
		<% end %>
		<% if (@order.shipping_price.to_f >0 ) %>
		<tr>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">Shipping</td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@order.shipping_price) %></strong></td>
		</tr>
		<%end%>
		<% if (@order.process_handling_price.to_f>0 ) %>
		<tr>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">P&H</td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@order.process_handling_price) %></strong></td>
		</tr>
		<%end%>
		<tr>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">Total</td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
			<td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@order.total_price+@order.shipping_price+@order.process_handling_price) %></strong></td>
		</tr>
	</tbody>
</table>
<form id="payPalForm" style="display:none;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_xclick" />
	<input type="hidden" name="business" value="ronnie@hairillusion.com" />
	<input type="hidden" id="qnty" name="quantity" value="1" />
	<input type="hidden" name="item_name" value="Hairillusion" /> 
	<input type="hidden" name="item_number" value="<%= @order.id%>" />
	<input type="hidden" id="amount"  name="amount" value="<%= (@order.total_price+@order.shipping_price+@order.process_handling_price).round(2) %>" />
	<input type="hidden" name="shipping" value="0.00" />
	<input type="hidden" name="no_shipping" value="1" />
	<input type="hidden" value="2" name="rm"> 
	<input type="hidden" name="cn" value="Comments" />
	<input type="hidden" name="currency_code" value="USD" />
	<input type="hidden" name="lc" value="US" />
	<input type="hidden" name="bn" value="PP-BuyNowBF" />
	<input type="hidden" name="return" value="http://hairisthere.com/after_payment_page" />
</form>

<div style="width: 100%;text-align: center">
	<%= image_tag 'paypal.png', :onclick=>"$('#payPalForm').submit();", :style=>'cursor:pointer'%>
</div>
