<% if @error == "" %>    
	<% if params[:get_shipping].to_s == "true" %>
		$("#distShipButton").val("Get available shipping carriers");
		$("#shippingPrefDiv").html(" <%= escape_javascript( render 'shipping_methods') %>");  
	<%else%> 
		window.location.href = "/orders/confirmation" 
	<%end%>
<%else%>     
	$("#distShipButton").val("Get available shipping carriers");
	message = "<%= @error %>"
	message = message.replace(/'/g, "''");
	alert(message)
	$("#distOrderButton").show()
	$("#order-submit-spinner").hide() 
<%end%>

