<% if @total_price %>
 total_price = '<%= @total_price%>'
 <% else %>
 total_price = '<%= @order.total_price.to_f %>'
<%end%>

<% if params[:type] == "Hair Illusion Fiber Hold Spray" || params[:type] == "spray" %> 
	$("#mainDiv").html("<%= escape_javascript(render('second_upsell')) %>") 
<%elsif params[:type] == "mirror"%>

	<% if @order.order_type == "recurrent" %>
		fb_pixel = "<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '992721714140422');fbq('track', 'PageView');fbq('track', 'Purchase', {value: '"+total_price.toString()+"', currency:'USD'});</script><noscript><img height='1' width='1' style='display:none'src='https://www.facebook.com/tr?id=992721714140422&ev=PageView&noscript=1'/></noscript>"
		$('head').append(fb_pixel); 
		$("#mainDiv").html("<%= escape_javascript(render('fourth_upsell')) %>")
	<%else%>
		$("#mainDiv").html("<%= escape_javascript(render('third_upsell')) %>")
	<%end%>
<%elsif params[:type] == "optimizer"%>
	fb_pixel = "<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '992721714140422');fbq('track', 'PageView');fbq('track', 'Purchase', {value: '"+total_price.toString()+"', currency:'USD'});</script><noscript><img height='1' width='1' style='display:none'src='https://www.facebook.com/tr?id=992721714140422&ev=PageView&noscript=1'/></noscript>"
		$('head').append(fb_pixel); 
	$("#mainDiv").html("<%= escape_javascript(render('fourth_upsell')) %>")
<%elsif params[:type] == "Water Resistant Spray"%>
	fb_pixel = "<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '992721714140422');fbq('track', 'PageView');fbq('track', 'Purchase', {value: '"+total_price.toString()+"', currency:'USD'});</script><noscript><img height='1' width='1' style='display:none'src='https://www.facebook.com/tr?id=992721714140422&ev=PageView&noscript=1'/></noscript>"
		$('head').append(fb_pixel); 
	$("#mainDiv").html("<%= escape_javascript(render('final_thanks')) %>")
<%end%>
 