<h3>Country Price</h3>
<%= form_for :country_prices, url: update_price_admin_country_prices_path, html: { class: 'form-horizontal' } do |f| %>

<%= f.submit 'Save', class:'btn btn-success' %>
<%= link_to 'Cancel', :back, class:'btn btn-danger' %>
<br />
<br />
<table class="table table-bordered table-condensed">
	<thead>
		<th>Country</th>
		<th>Price</th>
	</thead>
	<tbdoy>
		<% @country_prices.each do |c| %>
		<tr>
			<td><%= c.country %></td>
			<td>
				<%= number_field_tag "country_prices[][price]", c.price, :id=>"price_#{c.id}", :step=>".01" %>
				<%= hidden_field_tag "country_prices[][name]", c.country, :id=>"price_#{c.country}" %>
			</td>
		</tr>
		<%end %>
	</tbdoy>
</table>

<br>
<%= f.submit 'Save', class:'btn btn-success' %>
<%= link_to 'Cancel', :back, class:'btn btn-danger' %>

<%end %>
