<h3> Products List</h3> 
<%= form_for :distributor_product_prices, url: update_price_admin_distributor_path(@distributor), html: { class: 'form-horizontal' } do |f| %>
	<%= hidden_field_tag "distributor_id", @distributor.id %> 
	<table class="table table-bordered table-condensed">
		<thead>
			<th>Product</th>
			<th>Price</th>
		</thead>
		<tbdoy>
			<% @distributor_product_prices.each do |dp|  %>
			<% if dp.distributor_product.sku == "678021720278" %>
				<tr>
					<td> 38 G product 
						<%= hidden_field_tag "distributor_product_prices[][id]", dp.id %> 
					</td>
					<td> <%= number_field_tag "distributor_product_prices[][price_38]", dp.price,  class: 'form-control required order-quantity', :step=>'.01' %> </td>
				</tr>
			<%elsif dp.distributor_product.sku == "713807586669" %> 
				<tr>
					<td> 18 G product
						<%= hidden_field_tag "distributor_product_prices[][id]", dp.id %> 
					</td>
					<td> <%= number_field_tag "distributor_product_prices[][price_18]", dp.price,  class: 'form-control required order-quantity', :step=>'.01' %> </td>
				</tr>
			<%elsif ( dp.distributor_product.sku =="713807586799" || dp.distributor_product.sku == "678021720353" || dp.distributor_product.sku == "654391270988" || dp.distributor_product.sku == "788454232344")  %>
				<tr>
					<td> <%= dp.distributor_product.name %> 
						<%= hidden_field_tag "distributor_product_prices[][id]", dp.id %> 
					</td>
					<td> <%= number_field_tag "distributor_product_prices[][price]", dp.price,  class: 'form-control required order-quantity', :step=>'.01' %> </td>
				</tr>	
			<%elsif ( dp.distributor_product.sku =="APPLICATOR" )  %>
				<tr>
					<td> <%= dp.distributor_product.name %> 
						<%= hidden_field_tag "distributor_product_prices[][id]", dp.id %> 
					</td>
					<td> <%= number_field_tag "distributor_product_prices[][price]", dp.price,  class: 'form-control required order-quantity', :step=>'.01' %> </td>
				</tr>		
			<%else%> 
				<%= hidden_field_tag "distributor_product_prices[][id]", dp.id %> 
			<%end%>
		<%end%>
	</table>
	
	<div class="row" style="padding-left: 20px">
		<label style="display:inline-block;color:#ff0000"> Check checkbox if want to notify distributor about price change and email him purchase link</label>
		&nbsp;&nbsp;
		<%= check_box_tag :notify, 1, 1%>
	</div>
	<br>
	<%= f.submit 'Save', class:'btn btn-success' %>
	<%= link_to 'Cancel', admin_distributor_path(@distributor), class:'btn btn-danger' %>
<% end %>

<br />
<br />

<br />


