Dear <%= @customer.first_name %> <%= @customer.last_name %>,
<br />
Since your card seems having some errors(may be expired or name mismatch or insufficient balance), we couldnt deliver your monthly order. 
<br />
Please update your card details clicking <a href="https://hairillusion.com/login">Here </a>
<br />
Your login email: <%= @customer.email %>
<br />
Your login password: <%= @customer.password %>
<br />
<br />
If you are not interested in product please feel free to reach us at support@hairillusion.com and cancel your subscription

<br />
<br />
Thanks 
<br />
hairillusion support
