<!DOCTYPE html>
<html>
<head>
  <title>Thanks you for your order</title>
 
</head>
<body style="margin: 0 auto; max-width: 550px;padding: 20px 0;">
  <strong>Thanks for your order</strong>
  <br />
  <br />
  <table style="width: 100%;font-family: verdana,arial,sans-serif;font-size:11px; color:#333333;border-width: 1px; border-color: #666666;border-collapse: collapse;">
    <thead>
      <tr>
        <th width="60%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Order #</th>
        <th width="40%" colspan="2" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;"><%= @order.id %></th>
      </tr>
      <tr>
        <th width="60%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;"></th>
        <th width="20%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Price</th>
        <th width="20%" style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #dedede;">Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
          <strong>Questions? want to cancel monthly package?</strong>
          Contact Hair Illusion at<br/>
          <%= mail_to('support@hairillusion.com') %><br/>
        </th>
        <th colspan="2">
          <strong>Hair Illusion</strong>
          <%= link_to 'www.buyhairillusion.com', root_url %><br/>
        </th>
      </tr>
    </tfoot>
    <tbody>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><%= order_item.product.description %> (x<%= order_item.quantity %>)</td>
          <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><%= number_to_currency(order_item.price / 100.0) %></th>
          <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(order_item.total / 100.0) %></strong></td>
        </tr>
      <% end %>
      <% if (@order.shipping_price.to_f >0 ) %>
	      <tr>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">Shipping</td>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@order.shipping_price) %></strong></td>
	      </tr>      
      <%end%>
      <% if (@order.process_handling_price.to_f>0 ) %>
	      <tr>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">P&H</td>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
	        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@order.process_handling_price) %></strong></td>
	      </tr>      
      <%end%>
      <tr>
        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;">Total</td>
        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"></td>
        <td style="border-width: 1px; padding: 8px; border-style: solid; border-color: #666666; background-color: #ffffff;"><strong><%= number_to_currency(@total_price+@order.shipping_price+@order.process_handling_price) %></strong></td>
      </tr>
    </tbody>
  </table>
</body>
