Dear <%=@orderer.first_name%> <%= @orderer.last_name%>,
<br />
<br />
Your hair club membership has been canceled as requested, If any questions feel free to contact us,

<br />
<br />
Thanks,
<br />
Hair Illusion, support. 
