Dear customer,

<p>
This is from hairillusion company, You were subscribed to our monthly subscription few months back. Now we migrated to new website so missed cancelled subscriptions, So please let us know to <b>support@hairillusion.com</b> if you would like to get monthly hairillusion product(now it became much cheaper of just 24.95$ for 38g bottle ) or cancel the subscription
</p>

<p>
You can refer our website for more details about product
</p>
<p>
https://hairillusion.net
</p>

<br />
<br />
Thanks


