<div style="background: #fff;padding:20px">
<h3>Products</h3>

<table class="table table-bordered">
  <thead>
    <tr> 
      <th>Name</th>
      <th>Price</th> 
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr> 
        <td><%= product.description %></td>
        <td><%= (product.price/100.00).to_f %></td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>
<br> 
