/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-theme
 *= require bootstrap-datepicker 
 *= require_tree ./application/ 
 */

@import url(//fonts.googleapis.com/css?family=Montserrat:700);

  @media only screen and (max-width:766px){
    #home_logo
    {
      margin-top: -10px;
    }
  }

.label_td
{
  color:#fff;
  font-size:15px;
  font-weight:bold;
  width:120px;
}

.bold_td
{
    color:#fff;
  font-size:15px;
  font-weight:bold;  
}

.wide_label_td
{
  color:#fff;
  font-size:15px;
  font-weight:bold;
  width:320px;
  padding-left:120px
}

.newStep {
    cursor:pointer;
    display: inline-block;
    width: 195px;
    height: 60px;
    background: url('/assets/submit_button_on.gif');
}

.newStep:hover {
    cursor:pointer;
    display: inline-block;
    width: 195px;
    height: 60px;
    background: url('/assets/submit_button_off.gif');
} 

#submitBtn
{
  cursor:pointer;
}

#terms_text
{
  width:100%;
  height:80px;
  overflow-y:scroll;
}

