<style>
	.add_table td {
		padding: 3px
	}
</style>

<%= form_for @coupon, url: @coupon.new_record? ? admin_coupons_path : admin_coupon_path(@coupon), html: { class: 'form-horizontal' } do |f| %>

<% if @coupon.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

	<ul>
		<% @coupon.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table class="add_table">
	<tr>
		<td style="vertical-align: middle"><b>Code:</b></td> 
		<td> <%= f.text_field :name, :class=>"form-control", :required=>"true" %> </td>
	</tr>
	<tr>
		<td style="vertical-align: middle"><b>Type:</b></td> 
		<td> <%= f.select "discount_type", options_for_select([['Fixed', 'fixed' ],['Percentage', 'percentage' ]],@coupon.discount_type),{}, :class=>"form-control" %> </td>
	</tr>
	 
	<tr>
		<td style="vertical-align: middle"><b>Value:</b></td> 
		<td> <%= f.number_field :discount_value, :class=>"form-control", :required=>"true", :step=>".01" %> </td> 
	</tr> 

	<tr>
		<td><b>Active:</b></td>
		<td> <%= f.check_box :active %> </td>
	</tr>

</table>

<br />
<div class="actions">
	<%= f.submit "Save", :class=>"btn btn-primary" %>
	<%= link_to 'Back', admin_coupons_path, :class=>"btn btn-default" %>
</div>
<br />
<br />
<br />
<% end %> 
