<%= link_to "add New Coupon", new_admin_coupon_path, :class=>"btn btn-primary pull-right"%>
<h3>Coupons</h3>
<table class="table table-striped table-bordered table-hover table-condensed grid-table">
  <thead>
    <tr> 
      <th>Code</th>
      <th>Type</th>
      <th>Value</th>
      <th>Active</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr> 
        <td><%= coupon.name %></td>
        <td><%= coupon.discount_type %></td> 
        <td><%= coupon.discount_value %></td>
        <td><%= coupon.active %></td>
        <td><%= link_to 'Edit', edit_admin_coupon_path(coupon) %></td>
        <td><%= link_to 'Destroy', admin_coupon_path(coupon), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 
