<!DOCTYPE html>
<html>
<head>
  <title>HAIR ILLUSION OFFICIAL WEBSITE.</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", media: "all"  %> 
  <%= csrf_meta_tag %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js'); 
fbq('init', '992721714140422');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=992721714140422&ev=PageView&noscript=1"/>
</noscript>
 

</head>
<body>
  <a class="sr-only" href="#content">Skip to main content</a>
  
  <div class="outWrap" id="hdrWrap">
  <div class="Wrap">
    <h1><a href="/" class="assets" title="Hair Illusion™">Hair Illusion™</a></h1>
    <span id="headline">Instantly conceal thin or bald hair naturally!</span>
    <ul id="hdrNav">
      <li><a href="/photos" title="Photos" style="color:#fff">Photos</a></li>
      <li><a href="/faq" title="FAQ" style="cursor: pointer;color:#fff">Faq</a></li>
      <li><a href="/about_us" title="About" style="cursor: pointer;color:#fff">About</a></li> 
      <li><a href="/contact_us" title="About" style="cursor: pointer;color:#fff">Contact Us</a></li>
      <li><a href="/more_reviews" title="reviews" style="cursor: pointer;color:#fff">Reviews</a></li>
      <li><%= link_to 'Wholesalers', distributors_path, :style=>"font-size:16px;color:#fff" %></li>  
    </ul>
  </div>
</div>


  <%= yield :jumbotron %>

  <div class="container" style="padding: 0px;" id="mainDiv">
    <%= yield %>
  </div>

<div id="footerContentWrap">
  <div id="footerNavWrap">
    <ul>
      <li><span><a href="/" title="Hair Illusion™ Official As Seen On TV Home Page">Home</a></span></li> 
      <li class="mLink noborder"><span><a href="/about" title="Hair Illusion™ About">About</a></span></li>
      <li class="mLink noborder"><span><a href="/more_reviews" title="Hair Illusion™ Testimonials">Testimonials</a></span></li>
      <li class="mLink noborder"><span><a href="/faq" title="Hair Illusion™ FAQs">FAQs</a></span></li>
      <li class="mLink noborder"><span><a href="/contact_us" title="Contact Us™ FAQs">Contact Us</a></span></li>
      <li class="mLink noborder"><span>
      <a href="http://instagram.com/hairillusionllc?ref=badge" class="ig-b- ig-b-48"  target="new"><img alt="Instagram" src="/assets/instagram-icon-b52ccff1332a292a4d0aa8b6c094f917.png"></a>
      </span></li>
      <li class="mLink noborder"><span>
      <a href="http://facebook.com/hairillusionllc" class="ig-b- ig-b-48" target="new"><img alt="Instagram" src="/assets/fb.png"></a>
      </span></li>
    </ul>
    <p><span>©2017 Hair Illusion™ All Rights Reserved.</span></p>
  
</span></p>
    
  </div>
</div>

  <% if Rails.env.production? %>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?1jfN9XxtmZjA8pZQpW3qGAma6voHqTds';z.t=+new Date;$.
      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49238798-1', 'buyhairillusion.com');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
